[data-theme="light"] {
  --main-background: #fff;
  --additional-background: #fff;
  --color: #fff;
  --color-hover: rgba(35, 118, 202, 0.2);
  --shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  --text-color: #000;
  --description-color: #000;
  --large-shadow: 3px 0px 30px rgba(0, 0, 0, 0.25);
  --button: #2376CA;
  --button-rgb: 35, 118, 202;
  --input-border-color: #EDEDED;
}

[data-theme="dark"] {
  --main-background: #16191C;
  --additional-background: #1E2126;
  --color: #fff;
  --color-hover: rgba(255, 68, 96, 0.2);
  --shadow: none;
  --text-color: #fff;
  --description-color: #9F9DA3;
  --large-shadow: none;
  --button: #FF4460;
  --button-rgb: 255, 68, 96;
  --input-border-color: #1E2126;
}