// Для всех
.auth-input__focus,
.toggle-switch,
.toggle-switch__circle,
.player-button-arrow::after {
  transition: all .25s cubic-bezier(.02, .01, .47, 1);
}

// Плавность изминения темы
.header,
.open-library span,
.open-library svg path,
.app,
.player-button svg path,
.user__description span,
.user__description svg path,
.library,
.library-top,
.library__title,
.library-item__name,
.library__button {
  transition: color .25s cubic-bezier(.02, .01, .47, 1),
    background-color .25s cubic-bezier(.02, .01, .47, 1),
    fill .25s cubic-bezier(.02, .01, .47, 1),
    width .25s cubic-bezier(.02, .01, .47, 1),
    opacity .1s cubic-bezier(.02, .01, .47, 1)
}

.library__item,
.library__button {
  transition: opacity .2s cubic-bezier(.02, .01, .47, 1);
  transition-delay: .2s;
}