@import '../../assets/style/theme.scss';
@import '../../assets/style/mixins.scss';

.library {
  position: relative;
  height: 100%;
  z-index: 10;
  box-shadow: var(--large-shadow);
  padding-bottom: 5rem;
  background-color: var(--additional-background);
  // margin-left: -50rem;
  // transform: translateX(-100%);

  width: 0;
  overflow: hidden;
  opacity: 0;

  &__title {
    min-height: 7rem;
    box-shadow: var(--shadow);
    padding: 2.3rem 3rem;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--text-color);
    background-color: var(--main-background);
  }

  &__list {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 9rem;

    &::-webkit-scrollbar {
      width: .3rem;
    }

    &::-webkit-scrollbar-track {
      background: #9F9DA3;
    }

    &::-webkit-scrollbar-thumb {
      background: #565557;
      border: transparent;
    }
  }

  &__item {

    &:not(.active) {
      @include hoverItem(var(--color-hover));
    }

    &.active {
      background-color: rgba(var(--button-rgb), .2) !important;
    }
  }

  &__button,
  &__item {
    opacity: 0;
    transform: translateX(-100%);
  }

  &__button {
    position: absolute;
    bottom: 0;
    z-index: 30;
    background-color: var(--button) !important;
  }

  &.library-open {
    width: 50rem;
    overflow: visible;
    opacity: 1;

    .library__item,
    .library__button {
      opacity: 1;
      transform: translateX(0%);
    }

  }
}