@import '../../assets/style/theme.scss';

.library {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 41.3rem;
  height: 100%;
  z-index: 10;
  box-shadow: var(--large-shadow);
  padding-bottom: 5rem;
  background-color: var(--additional-background);


  &__title {
    min-height: 7rem;
    box-shadow: var(--shadow);
    padding: 2.3rem 3rem;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--text-color);
    background-color: var(--main-background);
  }

  &__list {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding-top: 2rem;
    padding-bottom: 9rem;

    &::-webkit-scrollbar {
      width: .3rem;
    }

    &::-webkit-scrollbar-track {
      background: #9F9DA3;
    }

    &::-webkit-scrollbar-thumb {
      background: #565557;
      border: transparent;
    }
  }

  &__button {
    position: absolute;
    bottom: 0;
    z-index: 30;
    background-color: var(--button) !important;
  }
}