@import '../../assets/style/theme.scss';

.player {
  padding: 2rem 0;
  min-height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-time {
    max-width: 55rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);

    &__item {
      font-size: 1.5rem;
      padding: 0 1rem;
    }
  }

  &-control {
    padding-top: 5rem;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg path {
      stroke: var(--text-color);
      fill: var(--text-color);
    }
  }
}